.customers {
    width: 100%;
}

.container {
    max-width: 1170px;
    padding: 0px 15px;
    margin: auto;
}

.customers__title {
    color:rgb(21,21,21);
    font-size: 36px;
    text-align: center;
    padding-top: 80px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.customers__title::after {
    content: "";
    display: block;
    width: 64px;
    height: 2px;
    margin: auto;
    margin-top: 34px;
    background-color: #E72424;
}

.customers__subtitle {
    text-align: center;
    margin-top: 34px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #86878B;
}

.customers-row-section {
    display: flex;
    justify-content: space-between;
    margin: 0 -15px 0;
    padding-bottom: 119px;
}

.customers-section-item {
    margin: 0 15px;
    width: 298px;
}

.customers-item-text {
    background-color: #e2e2e2;
    border-radius: 7px;
    position: relative;
}

.customers-item-text::after {
    content: "";
    position: absolute;
    width: 0px; 
    height: 0px; 
    border-left: 17px solid transparent; 
    border-right: 17px solid transparent;
    border-bottom: 12px solid  #e2e2e2;
    left: 10%;
    transform:rotate(180deg);
}

.customers__text {
    padding: 18px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
    color: #86878B;
    margin-top: 67px;
}

.customers-section-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    border-radius: 50px;
}

.customers-info__specialty {
    padding-top: 12px;
    text-align: end;
}

.customers-info__specialty {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #86878B;
}

.customers-info__name {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #333333;
}

    

