.pricing {
    width: 100%;
    background: #F5F5F5;
}

.container {
    max-width: 1170px;
}

.pricing__title {
    color:rgb(21,21,21);
    font-size: 36px;
    text-align: center;
    padding-top: 80px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.pricing__title::after {
    content: "";
    display: block;
    width: 64px;
    height: 2px;
    background-color: #E72424;
    margin: auto;
    margin-top: 34px;
}

.pricing__subtitle {
    text-align: center;
    margin-top: 34px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #86878B;
}

.pricing-row {
    display: flex;
    justify-content: space-between;
    margin: 62px -15px 0;
    flex-wrap: wrap;
    padding-bottom: 80px;
}

.pricing-row-item {
    width: 340px;
    text-align: center;
    margin: 0 15px;
}

.pricing-column__title {
    background-color: #333333;
    line-height: 50px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.pricing-column__price {
    background-color: #333333;
    line-height: 100px;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 35px;
    margin-top: 2px;
}

.pricing-middle__price {
    background-color: #333333;
    line-height: 100px;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 35px;
    margin-top: 2px;
}

.pricing-column__subtitle {
    background-color: #333333;
    line-height: 35px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 14px;
    margin-top: 2px;
    color: rgba(255, 255, 255, 0.5);
}

.pricing-middle__subtitle {
    background-color: #333333;
    line-height: 35px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 14px;
    margin-top: 2px;
    color: rgba(255, 255, 255, 0.5);
}

.pricing-column__list {
    background-color: #ffffff;
    line-height: 40px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #86878B;
    margin-top: 4px;
}

.transformblock{
    transition: all 0.7s ease;
}

.transformblock:hover {
    transform: translateY(-15px);
    transition: all 0.7s ease;
    background: rgb(184, 184, 184);
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.pricing-column__list:hover {
    color: #E72424;
}