.pricing {
    width: 100%;
    background: #e5e5e5;
}

.container {
    max-width: 1170px;
    padding-bottom: 80px;
}

.pricing-title {
    color:rgb(21,21,21);
    font-size: 36px;
    text-align: center;
    padding-top: 100px;
    padding-top: 80px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.pricing-line {
    border-bottom: 1px solid #d98943;
    padding-top: 34px;
    max-width: 64px;
    margin: auto;
}

.pricing-subtitle {
    text-align: center;
    padding-top: 34px;
    margin-bottom: 67px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #86878B;
}

.pricing-row {
    display: flex;
    justify-content: center;
    margin: 0 -15px;
    flex-wrap: wrap;

}

.pricing-row-item {
    width: 340px;
    text-align: center;
    margin: 0 15px;
}

.item-title {
    background-color: #333333;
    line-height: 50px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.item-price {
    background-color: #333333;
    line-height: 100px;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 35px;
    margin-top: 1px;
}

.middle-price {
    background-color: #333333;
    line-height: 100px;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 35px;
    margin-top: 2px;
}

.item-subtitle {
    background-color: #333333;
    line-height: 35px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 14px;
    margin-top: 1px;
    color: rgba(255, 255, 255, 0.5);
}

.middle-subtitle {
    background-color: #D98943;
    line-height: 35px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 14px;
    margin-top: 1px;
    color: rgba(255, 255, 255, 0.5);
}

.item-list {
    background-color: #ffffff;
    line-height: 40px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 14px;
    margin-top: 1px;
    color: #86878B;
    margin-top: 4px;
}

