.social {
    width: 100%;
    background: #000000;
}

.container {
    max-width: 1170px;
    padding: 0px 15px;
    margin: auto;
}

.social-image-icons {
    display: flex;
    justify-content: center;
    margin: 0 -15px;
    padding-top: 30px;
}

.social__icons {
    font-size: 23px;
    margin: 0 15px;
    color: #BDBDBD;
}

.social-license__text {
    color:rgba(255, 255, 255, 0.5);
    font-size: 12px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin-top: 18px;
    padding-bottom: 15px;
}

.link-social {
    color: #86878B;
    transition: 1s;
}

.link-social:hover {
    color: #ffffff;
    transition: 1s;
}
