@import url("/css/awesome.css");
@import url("/css/pricing.css");
@import url("/css/customers.css");
@import url("/css/axure.css");
@import url("/css/contact.css");
@import url('/css/social.css');
@import url('/css/axit.css');
@import Url('/css/socialmedia.css');
@import url('/css/modern.css');
@import url('/css/tabs.css');



.body {
    max-width: 1170px;
}


*{
    margin: 0%;
    padding: 0%;
    list-style: none;
    text-decoration: none;
}

.container {
    max-width: 1170px;
    padding: 0px 15px;
    margin: auto;
}