.containertabs {
    display: flex;
    justify-content: space-between;
}

.tabButtom {
    margin-top: 125px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.tabButtom-text {
    color: #ffffff;
    background-color: #333333;
    padding: 45px 35px;
    margin-bottom: 10px ;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    transition: all 1s;
}

.contentTabs {
    padding-left: 118px;
}

.tabButtom-text:hover {
     background-color: #EC7979;
}

.contentTabs-topic {
    display: flex;
    justify-content: space-between;
}
.topic-text {
    margin-top: 126px;
}

.topic-title_text {
    color: black;
    font-weight: 700px;
    font-size: 20px;
    font-family: 'Montserrat';
}

.topic-subtitle-text {
    color: #86878B;
    font-weight: 400px;
    font-size: 14px;
    font-family: 'Montserrat';
    max-width: 572px;
    margin-top: 58px;
}

.indent {
    margin-top: 20px; /* Отступ первой строки в пикселах */
   }

.topic-img {
    margin-top: 100px;
}

.contentTabs-download {
    margin-top: 93px;
}

.tabs__download {
    color: #ffffff;
    background-color: #EC7979;
    width: 135px;
    padding: 11px 26px;
    margin: auto;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    transition: 1s;
}

.tabs__download:hover {
    background-color: red;
}
