.containertabs-row {
    display: flex;
    justify-content: space-between;
}

.contentTabs-topic-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 125px;
}

.tabButtom {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 125px;
}

.tabButtom-text {
    color: #ffffff;
    background-color: #333333;
    padding: 45px 35px;
    margin-bottom: 10px;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    transition: all 1s;
    width: 112px;
}

.tabButtom-text:hover {
     background-color: #EC7979;
}

.topic-title_text {
    color: black;
    font-weight: 700px;
    font-size: 20px;
    font-family: 'Montserrat';
    margin-left: 15px;
}

.topic-subtitle-text {
    color: #86878B;
    font-weight: 400px;
    font-size: 14px;
    font-family: 'Montserrat';
    max-width: 572px;
    margin-top: 58px;
    margin-left: 15px;
}

.topic-img {
    margin-left: 15px;
}

.indent {
    margin-top: 20px;
}

.contentTabs-download {
    margin-top: 70px;
}

.tabs__download {
    color: #ffffff;
    background-color: #EC7979;
    width: 135px;
    padding: 11px 26px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    transition: 1s;
    margin-left: 15px;
}
    
.tabs__download:hover {
    background-color: red;
}
